/nbproject/private/
*.P
*.o
*.a
*~
*.orig
winicon.res
nbproject
.*
-.travis.yml
-.gitignore
!.editorconfig
*.patch
Game/blockattack*
cmake_install.cmake
CMake*
-CMakeLists.txt
CPack*
Makefile
source/manual/
-source/manual/block_attack_manual.tex
man/blockattack.6.gz
source/misc/translation/locale
*.mo
