/nbproject/private/
*.P
*.o
*~
*.orig
winicon.res
nbproject
.*
-.travis.yml
-.gitignore
*.patch
Game/blockattack*
cmake_install.cmake
CMake*
-CMakeLists.txt
source/manual/
-source/manual/block_attack_manual.tex
man/blockattack.6.gz
