name: Build

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci_job:
    runs-on: ubuntu-latest
    name: Test that the game can be compiled
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
      - name: Check lint
        run: bash source/misc/lint/runLint.sh
      - name: Test Ubuntu
        run: docker build -f source/misc/docker/Dockerfile.Ubuntu22.04build . -t blockattack_test
      - name: Test Windows MXE
        run: docker build -f source/misc/docker/Dockerfile.WindowsBuild . -t blockattack_test
